<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top rounded">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/pets/register-pet">Register Pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pets/pets-all">All Pets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/foods">Foods</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">

                        <div class="form-inline my-2 my-lg-0 px-3">
                            <div class="text-white">Welcome,
                            </div>
                            <form th:action="@{/user/details/{id}(id=*{#authentication.principal.id})}" th:method="get">
                                <input class="btn btn-link nav-link" type="submit"
                                       th:value="${#authentication.principal.fullName}">
                            </form>
                            <form th:action="@{/logout}" th:method="post">
                                <input class="btn btn-link nav-link" type="submit" value="Logout">
                            </form>
                        </div>

                </li>
            </ul>
        </div>
    </nav>
</header>

</html>