<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-md-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:text="#{navbar_home}" href="/">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar_login}" sec:authorize="!isAuthenticated()" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" th:text="#{navbar_register}"
                       href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{navbar_register_pet}"
                       href="/pets/register-pet">Register Pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{navbar_all_pets}"
                       href="/pets/pets-all">All Pets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{navbar_users}" href="/users">All
                        users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{navbar_foods}" href="/foods">All
                        users</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:method="get" th:action="@{/user/details/{id}(id=*{#authentication.principal.id})}">
                    <a class="nav-link"
                       th:text="${#authentication.principal.fullName}" th:href="@{/user/details/{id}(id=*{#authentication.principal.id})}">User</a>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:text="#{navbar_logout}" href="/logout">All
                        users</a>
                </li>
                <li class="nav-item">
                    <form th:method="get">
                        <label class="text" th:text="#{navbar_language}" for="lang"></label>
                        <select
                                onchange="this.form.submit()"
                                id="lang"
                                name="lang">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>

