body {
    background-image: url(/images/doggy-bg.jpg);
    display: flex;
    flex-direction: column;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

/* text-align */
.footer {
    text-align: center;
    width: 100%;
}