body {
    background-image: url(/images/doggy-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #464646;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 90vh;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}


.offer.card {
    display: inline-block;
}

.card-img-top-wrapper {
    height: 150px;
    overflow:hidden;
}


/* text-align */
.footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: inline-block;
}

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
}



header{
    z-index: 100;
}

table{
    border:1px solid #234465;
    padding: 1%;
    margin: 0 auto;
    width: 70%;
    border-radius: 4px;
}
table th{
    text-decoration: underline;
    text-align: center;
}
table tbody td{
    text-align: center;
    border-bottom:1px solid black;
    padding: 0.5%;
}