<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/style">Style</div>
    <title>Happy pet shop</title>
</head>

<body>
<header>
    <div th:replace="fragments/navbar">Navbar</div>
</header>
<main role="main">
    <div class="jumbotron">

        <h2 class="text-center text-white mt-5">Profile Details</h2>
        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0"
                 th:object="${user}">

                <div class="card-body pb-1">
                    <h5 class="card-title">
                        Account Personal Details</h5>
                </div>
                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="card-text"> Username: <span th:text="*{email}">Text</span></div>
                        <div class="card-text"> First name: <span th:text="*{firstName}">Text</span></div>
                        <div class="card-text"> Last name: <span th:text="*{lastName}"></span></div>
                        <div class="card-text"> User role/s: <span th:text="*{getUserRolesString()}"></span></div>

                    </li>
                </ul>
                <div class="card-body">
                    <form th:method="get"
                          th:action="@{/user/edit-username}">
                        <button type="submit" class="btn btn-danger w-35">Edit username</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="p-3">
    <footer class="border-top footer mt-0 text-white" style="align-items: center">
        <div th:replace="fragments/footer">Footer</div>
    </footer>
</div>

</body>
</html>
