<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:replace="fragments/style">Style</th:block>
    <title>Happy pet shop</title>

</head>

<body>

<header>
    <div th:replace="fragments/navbar">Navbar</div>
</header>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Pets</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center" style="margin-top: 40px;">
        <div th:each="food: ${foods}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{food.pictureUrl}" alt="Food image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{food.getFoodHeaderDetails}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span th:text="'Brand: ' + ${food.brand.name()} + ' km'"></span></div>
                    <div class="card-text"><span th:text="'Type: ' + ${food.type} + ' lv'"></span></div>
                    <div class="card-text"><span th:text="'Price: ' + ${food.price}"></span></div>
                    <div class="card-text"><span th:text="'Description: ' + ${food.description}"></span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <footer class="footer mt-0 text-white" style="align-items: center">
        <div th:replace="fragments/footer">Footer</div>
    </footer>
</div>

</body>
</html>