<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Happy Pet Shop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/images/paw_icon.ico">
</head>
<body class="body-main">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top rounded">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>               
                    <li class="nav-item">
                        <a class="nav-link" href="/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Register</a>
                    </li>               
                    <li class="nav-item">
                        <a class="nav-link" href="/">Register Pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Foods</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>                
            </ul>
            <img width="50px" src="/images/paw.jpg" alt="Paw">
        </div>
    </nav>
</header>
<main role="main">
    <div class="jumbotron">
        <div class="container text-light text-center">
            <h1 class="display-3"><strong class="bg-blur rounded">Happy Pet Shop</strong></h1>
        </div>
        <div class="container bg-blur text-white align-items-end rounded mt-5 p-5">
            <div class="row">
                <div>
                    <div class="row">
                        <img width="50px" src="/images/paw.jpg" alt="Paw">
                        <h2 class="pl-5">The best shop for kitties and doggos</h2>
                    </div>
                    <p class="mt-3 ">Register you and your pet companion and start exploring the 
                        different brands of pet food and for the first time the option to subscribe for 
                        automatic redelivery of the selected goods! 
                      </p>
                </div>
            </div>
        </div>
    </div>
    <footer class="container mt-0 text-white">
        <p>&copy; Todor 2022. All rights reserved.</p>
    </footer>
</main>
</body>
</html>