<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/style">Style</th:block>
    <title>Happy pet shop</title>

</head>
<body class="body-main">
<header>
    <div th:replace="fragments/navbar">Navbar</div>
</header>
<main role="main">
    <div class="jumbotron">
        <div class="container text-light text-center">
            <h1 class="display-3">
                <strong class="bg-blur rounded border-white pl-3 font-weight-bold text-center">Register</strong></h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="container bg-blur rounded p-5 mt-5 w-75">
                    <form
                            th:action="@{/register}"
                            th:method="post"
                            th:object="${userModel}"

                            class="text-center text-light align-content-center">

                        <div class="form-group">
                            <label for="firstName" class="text-white font-weight-bold">First Name</label>

                            <input
                                    id="firstName"
                                    th:field="*{firstName}"
                                    th:errorclass="is-invalid"
                                    type="text"
                                    class="form-control"
                                    placeholder="First name"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                First name is required and should be between 2 and 20 symbols.
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                            <input id="lastName"
                                   th:field="*{lastName}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   class="form-control"
                                   placeholder="Last name"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Last name is required and should be between 2 and 20 symbols.
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-white font-weight-bold">Email</label>

                            <input id="email"
                                   th:field="*{email}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   class="form-control"
                                   placeholder="Email"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Email should be valid!
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white font-weight-bold">Password</label>

                            <input id="password"
                                   th:field="*{password}"
                                   th:errorclass="is-invalid"
                                   type="password"
                                   class="form-control"
                                   placeholder="Password"/>
                            <p class="invalid-feedback errors alert alert-danger">
                                Password length must be more than 3 characters long.
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="text-white font-weight-bold">Repeat Password</label>
                            <input
                                    id="confirmPassword"
                                    th:field="*{confirmPassword}"
                                    th:errorclass="is-invalid"
                                    type="password"
                                    class="form-control"
                                    placeholder="Repeat password"/>
                            <div class="invalid-feedback errors alert alert-danger">
                            <div
                                    th:each="err : ${#fields.errors()}"
                                    th:text="${err}"
                            />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger w-50">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="p-3">
    <footer class="border-top footer mt-0 text-white" style="align-items: center">
        <div th:replace="fragments/footer">Footer</div>
    </footer>
</div>
</body>
</html>